@model IEnumerable<WebBanHangOnline.Models.EF.News>
@{
    ViewBag.Title = "Index";
}
 <link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">

<style>
    .news_section_container{
        margin-top:200px;
        margin-bottom:500px;
    }
    .title-news{
        font-size:24px;
        border-bottom:1px solid;
        padding:15px 0;
        margin-bottom:25px;
    }
    .row-item-new{
        margin-bottom:20px;
    }
    .content-box{
        margin-left:300px;
    }
</style>
<div class="container news_section_container">
    <div class="row">
        <div class="col-md-12">
           <h1 class="title-news">Tin Tức</h1>
        </div>
    </div>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <div class="row row-item-new">
                        <div class="col-md-3">
                            <div class="img-box">
                                <a href="" title="@item.Title"><img src="@item.Image" style="width:200px; height:200px; margin-left:200px;" alt="@item.Title" /></a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="content-box">
                                <h3><a href="/@item.Alias-n@(item.Id)" title="@item.Title">@item.Title</a></h3>
                                <div class="description-box">
                                    <h5>@item.Description</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>